* {
    margin: 0;
    padding: 0;
    font-family: 'quicksand',sans-serif;
}
html {
    scroll-behavior: smooth;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(46, 46, 46, 0.664);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffd000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  position: fixed;
  
}
/*button */
.pilihan {
  margin: 20px;
  text-align: center;
}
.button {
  border-radius: 4px;
  background-color: #585858;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: rgb(255, 187, 0);
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*footter*/
footer{
  background-color: rgb(0, 0, 0);
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 400px;
}
footer p{
  color: rgb(126, 126, 126);
  text-align: center;
  
}
.instagram{
  margin-top: 20px;
  margin-bottom: 20px;
}

.instagram a{
  margin-top: 20px;
  color: rgb(250, 250, 250);
  text-decoration: none;
}
.instagram a:hover{
  text-decoration: none;
  color:  orange;
}
footer img{
  width: 200px;
}

small {
  color:orangered;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.responsive {
    position: fixed;
    z-index: -1;
    opacity: 0.2;
    width: 100%;
  }
 section{
      text-align: center;
      
  }

.banner img{
    width: 300px;
}
.banner a:hover img{
    transform: scale(1.1);
    transition: 0.3s ease;
}
.box {
    align-items: center;
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container {
   font-size: 10px;
}
.container a{
  text-decoration: none;
  overflow: hidden;
  color: black;
}
.container a:hover{
  color: orange;
}

.card {
    max-width: 230px;
    margin: auto;
    text-align: center;
    align-items: center;
    
  }
  .card h1{
      font-size: 20px;
      font-family: 'quicksand',sans-serif;
  }
  .card p{
      font-size: 15px;
      margin-bottom: 10px;
  }

  
  .price {
    color: rgb(61, 199, 103);
    font-size: 20px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(49, 49, 49);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
  }
  
  .card button:hover {
    transition: 0.5s;
    background-color: rgb(255, 204, 65);
  }

  .card p button:hover{
      color: black;
  }

  /*container1*/
  .container-1 {
    width: 900px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    font-size: 14px;
    border: solid 2px black;
  }
  .poto img{
   width: 400px;
  }
  .container-1 a{
    text-decoration: none;
    overflow: hidden;
    font-size: 20px;
    color: black;
  }
  .container-1 a:hover{
    color: #ffd000;
  }
 
  

  
@media (max-width: 1080px){
  *{
    margin: 0;
    padding: 0;
  }
   .box{
      display: grid; 
      width: auto;   
   }
   .pilihan{
     display: flex;
     justify-content: space-around;
     text-align: center;
     align-items: center;
   }
   .container-1{
     flex-direction: column;
     align-items: center;
     text-align: center;
   }
   .container-1 .poto img{
     width: 300px;
   }
   .responsive{
    position: fixed;
    z-index: -1;
    opacity: 0.2;
    width: 100%;
   }
    
}
