* {
    margin: 0;
    padding: 0;
    font-family: 'quicksand',sans-serif;
}

header{
    height: 70px;
    background-color: rgb(0, 0, 0);
}

header ul{
   text-align: center; 
}

header ul li{
    display: inline-block;
    text-decoration: none;
    padding: 25px;
}

header ul li a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(255, 145, 0);
    transition: 0.3s ease;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.banner .container img{
    width: 50px;
}

.mobile-menu{
    float: right;
    display: none;
    padding: 20px;
    color: white;
}
.mobile-menu:hover{
    cursor: pointer;
}
#check{
    display: none;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgb(255, 102, 0);
    opacity: 0.9;
    transition: 0.3s;
    z-index: 1;
}

.sidebar ul li {
    padding: 24px;
}

.sidebar ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3 ease;
}
.sidebar ul li a:hover{
    color: black;
    
}

#check:checked ~ .sidebar{
    left: 0;
}


section{
    text-align: center;
}

.banner img{
    width: 200px;
}
.banner a:hover img{
    transform: scale(1.1);
    transition: 0.3s ease;
}
.cover{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.cover img{
    width: 100%;   
}

.menu{
    position: relative;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 200px;
}

.menu img{
    width: 600px;
    margin-top: 20px;
    text-align: center;
}

.menu img:hover{
    transform: scale(0.8);
    transition: 0.4s ease-out;
    
}

.cover h1{
    position: absolute;
    color: white;
    padding: 100px;
    font-family: Georgia, Times, 'Times New Roman', serif;

}
section h3{
    padding-bottom: 20px;
    margin: 25px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: black;
    left: calc(50% - 60px);
}

section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 40px;
    height: 5px;
    background-color: rgb(255, 123, 0);
    left: calc(50% - 20px);
}

#about p{
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 100px;
    
}

.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    margin-top: 25px;
}

.col-4 img{
    width: 100%;
}

.col-4 a:hover img{
    transform: scale(1.1);
    transition: 0.4s ease;
    cursor: auto;
}
.colom{
    display: flex;
    gap: 5px;
    margin: 80px;
    
}



.service {
    padding: 20px;
    text-align: center;
    gap: 30px;
    border: 1px solid black;
    justify-content: space-between;
}


.service a{
    text-decoration: none;
    color: orangered;
    margin-top: -20px;
    
}

.service a:hover{
    transition: 0.3s ease-in;
    color: black;
}

footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 400px;
}
footer p{
    color: rgb(126, 126, 126);
    text-align: center;
    
}
.instagram{
    margin-top: 20px;
    margin-bottom: 20px;
}

.instagram a{
    margin-top: 20px;
    color: rgb(250, 250, 250);
    text-decoration: none;
}
.instagram a:hover{
    text-decoration: none;
    color:  orange;
}




footer img{
    width: 200px;
}

.map{
    margin-bottom: 150px;
   
}
small {
    color:orangered;
}

.bg-loader{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    border-top-color: orange;
    border-right-color: orange;
    border-bottom-color: orange;
    animation: puterin .5s linear infinite;
}

.about .containercnt p{
    text-align: center;
}

.galery{
    text-align: center;
    margin-bottom: 50px;
}

.galery img{
    width: 30%;
}

@keyframes puterin {
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1080px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
  
    .menu img{
        width: 100%;
        display: grid;
        position: relative;
    }
    .colom{
        display: grid;
  
    }
    .banner .container img{
     
        margin-left: 50px;
    }

    .galery img{
        width: 100%;
        display: grid;
    }

}

