* {
    margin: 0;
    padding: 0;
    font-family: 'quicksand',sans-serif;
}
html {
    scroll-behavior: smooth ;
}
.barkontak img{
    width: 50px;
}
.barkontak a{
    position: fixed;
    color: green;
    z-index: 1;
    margin-left: 1250px;
    margin-top: 540px;
    border-radius: 40PX;
}
.barkontak a:hover {
    opacity: 0.7;
  }

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    text-align: center;
    display: inline-block;
    width: 39%;
    min-height: 350px;
    position: relative;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 6s infinite ease-in;
  }

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(46, 46, 46, 0.664);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ffd000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
    position: fixed;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


section{
    text-align: center;
}

.banner img{
    width: 200px;
}
.banner a:hover img{
    transform: scale(1.1);
    transition: 0.3s ease;
}
.responsive {
    margin-top: 40px;
    width: 100%;
    height: auto;
  }

.menu{
    position: relative;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 200px;
}

.menu img{
    width: 600px;
    margin-top: 20px;
    text-align: center;
}

.menu img:hover{
    transform: scale(0.8);
    transition: 0.4s ease-out;
    
}
@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.image-scroller {
    margin-top: 20px;
    --speed: 40s;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.image-ticker-fade {
    background: linear-gradient(
        to right,
        rgba(253, 254, 255, 0.267) 0%,
        rgba(14, 24, 42, 0.01) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgb(252, 252, 252) 100%
    );
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.image-ticker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide var(--speed) linear infinite;
}


.cover h1{
    position: absolute;
    color: white;
    padding: 100px;
    font-family: Georgia, Times, 'Times New Roman', serif;

}
section h3{
    padding-bottom: 20px;
    margin: 25px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 1px;
    background-color: black;
    left: calc(50% - 60px);
}

section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 40px;
    height: 5px;
    background-color: rgb(255, 123, 0);
    left: calc(50% - 20px);
}

#about p{
    text-align: center;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 100px;
    
}

.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    margin-top: 25px;
}

.col-4 img{
    width: 100%;
}

.col-4 a:hover img{
    transform: scale(1.1);
    transition: 0.4s ease;
    cursor: auto;
}
.colom{
    display: grid;
    gap: 5px;
    margin: 80px;
    
}



.service {
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    gap: 30px;
    border: 1px solid black;
    justify-content: space-between;
}


.service a{
    text-decoration: none;
    color: orangered;
    margin-top: -20px;
    
}

.service a:hover{
    transition: 0.3s ease-in;
    color: black;
}

footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 400px;
}
footer p{
    color: rgb(126, 126, 126);
    text-align: center;
    
}
.instagram{
    margin-top: 20px;
    margin-bottom: 20px;
}

.instagram a{
    margin-top: 20px;
    color: rgb(250, 250, 250);
    text-decoration: none;
}
.instagram a:hover{
    text-decoration: none;
    color:  orange;
}




footer img{
    width: 200px;
}

.map{
    margin-bottom: 150px;
   margin-top: 20px;
}
small {
    color:orangered;
}

.bg-loader{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-loader .loader{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    border-top-color: orange;
    border-right-color: orange;
    border-bottom-color: orange;
    animation: puterin .5s linear infinite;
}

.about .containercnt p{
    text-align: center;
}

.galery{
    text-align: center;
    margin-bottom: 50px;
}

.galery img{
    width: 30%;
}


@media (max-width: 1080px){
    
       .menu img{
        width: 100%;
        display: grid;
        position: relative;
    }
    .colom{
        display: grid;
        align-items: center;
    }
    .colom .service{
        align-items: center;
    }
    .banner .container img{
        align-items: center;
    }

    .galery img{
        width: 100%;
        display: grid;
    }
    .loader-wrapper{
        align-items: center;
    }
    .loader{
        text-align: center;
    }

}


}
