* {
  margin: 0;
  padding: 0;
  font-family: 'quicksand',sans-serif;

}
html{
  background-color: #000000;
}

section{
  text-align: center;
}

.banner img{
  width: 100px;
}
.banner a:hover img{
  transform: scale(1.1);
  transition: 0.3s ease;
}

.containersatu {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.centered h3{
  letter-spacing: 10px;
  margin-bottom: 10px;
  border-block-end-style: double;
}




.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(46, 46, 46, 0.664);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffd000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  position: fixed;
  z-index: 2;
  color: white;
}


.piccareers{
  color: white;
  align-items: center;
  text-align: center;
  margin: 60px;
}
.careers img{
  width: 300px;
  border: solid 2px white;
  border-radius: 15px;
}
.careers a{
  text-decoration: none;
  overflow: hidden;
  color: whitesmoke;
}
.careers a:hover{
  color: orange;
  transition: 0.5s;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media (max-width: 1080px){
    
  .containersatu{
    font-size: 7px;
    align-items: center;
    width: 100%;

  }
  .centered{
    align-items: center;
    text-align: center;
  }

}


